bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.cache
project.lock.json
packages/
*.log
runtimes/
*.rsuser
*.vcxproj.user
.DS_Store
Thumbs.db
*.apk
*.aab
*.ap_
*.dex
.gradle/
build/
local.properties
*.iml
.idea/
*.hprof
.cxx/
.externalNativeBuild/
